body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
}

.header {
    padding: 35px 140px;
    background-color: #1F2937;
}

.links {
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: bold;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
    min-width: 400px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    min-width: 400px;
}

.signup {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 4px;
    border-color: transparent;
    max-width: 150px;
    margin-top: 10px;
    font-weight: 900;
}

.main-img {
    width: 500px;
    height: 250px;
    background-color: grey;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 200px;
    flex: 1;
}

.text-and-img {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.random-info {
    margin: 50px;
}

.random-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.illustrations {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.illustration {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.il {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration-subtext {
    width: 150px;
    text-align: center;
    color: grey;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.q-content {
    max-width: 55%;
}

.q-content > p {
    font-size: 24px;
    font-weight: normal;
    text-align: right;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    max-width: 65%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px 0;
    color: #E5E7EB;
    border-radius: 10px;
    justify-content: space-around;
}

.call-to-action > .cta-text > p {
    margin: 10px;
}

.call-to-action > .cta-text > #cta-title {
    font-size: 24px;
    font-weight: 900;
}

.call-to-action > button {
    align-self: center;
    background-color: transparent;
    border-color: #E5E7EB;
    border-radius: 4px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 900;
    border: solid 3px;
    width: 100px;
    height: 35px;
}

.copyright {
    padding: 25px;
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
}